[client]
socket      = {REMOTE_ROOT}/run/mysql/mysqld.sock

[mysqld]
port        = 3306
pid-file    = {REMOTE_ROOT}/run/mysql/mysqld.pid
socket      = {REMOTE_ROOT}/run/mysql/mysqld.sock
datadir     = {REMOTE_ROOT}/data/mysql
log-error   = {REMOTE_ROOT}/logs/mysql/error.log

mysqlx      = 0